<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYR-c0TRMfMSuYRUKQ_LRNIj27abjNCSA</string>
	<key>GCM_SENDER_ID</key>
	<string>38142146854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fastuserios.fast</string>
	<key>PROJECT_ID</key>
	<string>fast-7d4f4</string>
	<key>STORAGE_BUCKET</key>
	<string>fast-7d4f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38142146854:ios:63cf5adff00cadeef369e7</string>
</dict>
</plist>